<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="docker-cli"/>
    <package id="kubernetes-cli"/>
    <package id="kubernetes-helm"/>
    <package id="lens"/>
    <package id="minikube"/>
    <package id="powershell-core"/>
    <package id="skaffold"/>
    <package id="terraform"/>
    <package id="terraform-docs"/>
    <package id="tflint"/>
</packages>
