@import '~antd/dist/antd.min.css';

.ant-menu-item a {
    color: #fff !important;
    font-weight: 700;
    text-transform: uppercase;
}

.ant-layout-header, .ant-layout-sider, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark {
    background: #000;
}
h1.ant-typography {
    font-weight: 900;
}
body {
    margin: 0;
    font-family: -apple-system, proxima-nova, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Fira Code', monospace;
}
